html,
body {
    height: 100%;
}

#dashboard{
    min-height: 80%;
}

.thumbnail-list img{
    max-height: 50px;
}

table.table td{
    vertical-align: middle !important;
}
img.logo-preview{
    background-color: #CCC;
}